@import 'src/variables';

#about-page {
  background-color: lighten($SECONDARY, 5%);
  padding-left: 10rem;
  h1 {
    margin-bottom: 8rem;
  }
  h2 {
    margin-bottom: 2rem;
  }
}

#about-container {
  height: 100%;
  max-width: 48rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

#laptop {
  right: -45rem;
  top: 10rem;
  position: absolute;
  width: 35rem;
}