@import 'src/variables';

#left_side {
  background-color: $SECONDARY;
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 4rem;
}

#right_side {
  background-color: $DARK;
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 4rem;
  h1 {
    margin-bottom: 2rem;
  }
  h3 {
    width: 32rem;
    line-height: 1;
  }
  > p {
    font-size: $FONT-M;
    font-weight: bold;
    margin-top: 5rem;
  }
  .carousel-root {
    display: none;
  }
}

@media (max-width: 1400px) {
  #left_side {
    display: none;
  }

  #right_side {
    float: none;
    width: 100%;
    padding: 0 10rem 0 10rem;

    h1 {
      margin-bottom: 0;
      font-size: 100px;
    }
    > p {
      margin-top: 0;
    }
    h3 {
      display: none;
    }
    .carousel-root {
      display: inherit;
      float: right;

      @media (max-width: 750px) {
        width: auto;
      }
    }
  }
}

@media (max-width: 750px) {
  #right_side {
    padding: 0 2rem 0 2rem;
  }
}

.carousel-root {
  width: 540px;
}

.carousel-btn {
  text-align: center;
  font-size: $FONT-M;
  color: $GREY;
  &.active {
    color: $PRIMARY;
  }
  &:hover {
    background-color: rgba($GREY, .2);
  }
  margin: 1rem 0;
}

.carousel-entry {
  text-align: right;
  padding: 10px 0;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  h2 {
    margin: 0;
  }
  p {
    margin-top: 10px;
    color: $GREY;
    line-height: 1;
    width: 90%;
  }

  .entry-skills {
    display: flex;
    justify-content: right;
    font-family: $FONT-2;
    color: $PRIMARY;
    > div {
      font-size: $FONT-XS;
      margin-left: 20px;
      word-spacing: -1px;
    }
  }
}

.work-entry-img {
  background: $GREY;
  transition: background .5s;
  border-radius: 10px;
  cursor: pointer;
  width: fit-content;
  &:hover {
    background: none;
  }
  img {
    display: block;
    width: auto !important;
    height: 280px;
    width: fit-content;
    border-radius: 10px;
    mix-blend-mode: luminosity;
  }
}

#btn-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}