@import 'src/variables';

html,body,#root,#app,#scroll_handler,#sections-container,.section {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

.section {
  padding: 0 5rem;
}

* {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

h1 {
  font-family: $FONT-1;
  font-size: $FONT-XL;
  margin: 0;
  font-weight: bold;
  &.txt-light {
    text-shadow: 10px 10px rgba($LIGHT, $TITLE-OPACITY);
  }
  &.txt-primary {
    text-shadow: 10px 10px rgba($PRIMARY, $TITLE-OPACITY);
  }
}

.txt-light {
  color: $LIGHT;
}

.txt-primary {
  color: $PRIMARY;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}