// COLORS
$PRIMARY: #64FFDA;
$PRIMARY-DARK: #00DBA7;

$SECONDARY: #0A192F;

$DARK: #001220;

$LIGHT: #FFFFFF;

$GREY: #929CBC;

// FONTS
$FONT-1: 'Roboto Condensed', sans-serif;
$FONT-2: 'Courier Prime', monospace;

$FONT-XL: 128px;
$FONT-L: 48px;
$FONT-M: 32px;
$FONT-S: 24px;
$FONT-XS: 16px;

// EXTRA
$TITLE-OPACITY: .2;